:root {
    --light-grey: #acacac;
}
.highlightGreen {
    /* Elements that should be highlighted green */
    color: color-mix(in srgb, green 90%, white 10%);
}
#feedback-choices {
    /* Apply a light background color here */
    background-color: var(--light-grey);
}
#message:hover, #feedback-multisel:hover {
    /* Apply a light background color here too */
    color:color(srgb-linear 10% 10% 10% / 100%);
    background-color: var(--another-light-grey, #e0dfdf)
}
* {
    /* Apply font sizing here, and make sure to apply different font sizing for specific sections. */
    color:#000000;
}
h1 {
    /* Add a good font for h1, and change the font color to brown. Also, make this sticky. */
    color:hsl(30, 100%, 25%);
    text-align:center;
    text-decoration:underline;
    position:sticky;
    top: 0;
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
}
h2 {
    text-align:center;
    text-decoration:underline;
    position:relative;
    top: 5;
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size:30px;
}
a[href^="https"] {
    /* Change all links to be blue fonted only. */
    color:blue;
    &:active {
        /* Add styling for links when they are being held. Maybe color them differently (red or purple). */
        color:rgb(255, 0, 0);
    }
}
input[type="radio"] {
    /* Change all radio options to have specific styling */
    background-color:black;
}
summary:hover {
    /* Add styling for the summary dropdown when it is hovered over (maybe a background color change or a size change) */
    background-color:var(--light-grey);
    color:rgba(255,0,0,1);
}
summary {
    /* Change size of box to be smaller and end where text ends, otherwise change this color later. */
    margin-right:60em;
}
div, section {
    /* Add margins and box model styling to div and section elements (parts of the body) */
    padding-left:1vw;
}
div ~ img {
    /* Provide margins, positioning (using units), width, height, borders for images. */
    border: 2px solid black;
    padding:3pt 3pt 3pt 3pt;
    height: 300px;
    width:600px;

}
body > * {
    margin: 0vw 1vw 0vw 1vw;
}
img + div.audio-container {
    /* Provide margins, positioning (using units), width, height, borders for audio box. */
    border-width:2px;
    border-color:#000000;
    border-style:solid;
    border-radius:2.5pc;
    padding:10pt;
    margin-right:60rem;
    max-width: 600px;
    min-width: 300px;
}
form legend {
    /* Specific styling for subheadings inside the form */
    margin:auto;
}
main > p {
    /* Paragraphs in main (Note: these should be captions for the img/audio/video files, add these to the HTML) should have a smaller font size */
    font-size:12px;
}
.nav-list {
    /* All elements in nav can be arranged side by side using flex. */
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    list-style-type:none;
    padding:0;
    max-width: 1000px;
}
.grid-container {
    /* Create a grid for the attendees, see if we can get name, attendance, and description in separate grids. */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    justify-self:stretch;
    column-gap:15px;
}
.name {
    justify-self: start;
    grid-column-start: 1;
    grid-column-end:2;
} 
.status {
    justify-self: center;
    grid-column-start:2;
    grid-column-end:3;
}
.descript {
    justify-self: end;
    grid-column-start:3;
    grid-column-end:4;
}
h3.is-body {
    /* Add is-body tag to all h3 elements inside the body, and do special styling for them. */
    display:inline;
    position:static;
}
form:has(fieldset) {
    /* Add a box size to the form */
    margin-right:60vw;
}
.hide{
    display:none;
}
@media only screen and (max-width: 800px) {
    body {
        /* Small font size */
        font-size: 14px;
        .grid-container{
            list-style-type: none;
        }
    }
}
@media only screen and (min-width: 801px) and (max-width: 1024px) {
    body {
        /* Medium font size */
        font-size: 16px;
    }
}
@media only screen and (min-width: 1025px) {
    body {
        /* Large font size */
        font-size: 18px;
    }
}
